
.inventario {
    position: relative;
    top: 130px; /* Position it below the div above */
    width: 50%; /* Adjust the width to not occupy the entire page */
    margin: 0 auto; /* Center the element */
    padding: 10px;
  }
  
  .inventario h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .add-part-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    padding: 8px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-continuar {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  .btn-continuar:hover {
    background-color: #45a049;
  }
  
  .colors-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust spacing between checkboxes */
  }
  
  .color-label {
    display: flex;
    align-items: center;
    margin-right: 15px; /* Additional spacing */
  }
  
  .other-color {
    margin-top: 10px;
  }
  
  /* Style for validation error message */
  .error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 5px;
  }
  
  .btn-voltar {
  margin-top: 10px; /* Espaço abaixo do botão CONTINUAR */
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .btn-voltar:hover {
  background-color: #e0e0e0;
  }