.notifications-page {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.notifications-page .div {
    background-color: #ffffff;
    width: 1535px;
    height: 2941px;
    position: relative;
}

.notifications-page .line {
    top: 189px;
    left: 261px;
    position: absolute;
    width: 1000px;
    height: 1px;
    object-fit: cover;
}

.notifications-page .img {
    top: 482px;
    left: 248px;
    position: absolute;
    width: 1000px;
    height: 1px;
    object-fit: cover;
}

.notifications-page .text-wrapper {
    position: absolute;
    top: 141px;
    left: 264px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.notifications-page .footer {
    position: absolute;
    width: 1535px;
    height: 440px;
    top: 2501px;
    left: 0;
    background-color: #f6f6f6;
}

.notifications-page .footer-2 {
    position: relative;
    height: 440px;
    background-color: #111827;
}

.notifications-page .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 376px;
    left: 0;
    box-shadow: 0px 4px 4px #00000040;
    opacity: 0.4;
}

.notifications-page .under-line {
    position: relative;
    width: 1440px;
    height: 1px;
    margin-top: -1.00px;
    opacity: 0.5;
    background-image: url(./img/line-1.svg);
    background-size: cover;
    background-position: 50% 50%;
}

.notifications-page .frame-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    flex: 0 0 auto;
    opacity: 0.6;
}

.notifications-page .frame-2 {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    position: relative;
    flex: 0 0 auto;
}

.notifications-page .icon-copyright {
    position: relative;
    width: 20px;
    height: 20px;
}

.notifications-page .copyright-rimel {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--primary);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
}

.notifications-page .frame-3 {
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    gap: 87px;
    position: absolute;
    top: 80px;
    left: 135px;
}

.notifications-page .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
}

.notifications-page .frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
}

.notifications-page .logo {
    position: relative;
    width: 118px;
    height: 24px;
}

.notifications-page .exclusive {
    position: absolute;
    top: -1px;
    left: 0;
    font-family: var(--heading-24px-bold-font-family);
    font-weight: var(--heading-24px-bold-font-weight);
    color: var(--text);
    font-size: var(--heading-24px-bold-font-size);
    letter-spacing: var(--heading-24px-bold-letter-spacing);
    line-height: var(--heading-24px-bold-line-height);
    white-space: nowrap;
    font-style: var(--heading-24px-bold-font-style);
}

.notifications-page .text-wrapper-2 {
    position: relative;
    width: fit-content;
    font-family: var(--title-20px-medium-font-family);
    font-weight: var(--title-20px-medium-font-weight);
    color: var(--text);
    font-size: var(--title-20px-medium-font-size);
    letter-spacing: var(--title-20px-medium-letter-spacing);
    line-height: var(--title-20px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-20px-medium-font-style);
}

.notifications-page .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--title-20px-medium-font-family);
    font-weight: var(--title-20px-medium-font-weight);
    color: var(--text);
    font-size: var(--title-20px-medium-font-size);
    letter-spacing: var(--title-20px-medium-letter-spacing);
    line-height: var(--title-20px-medium-line-height);
    white-space: nowrap;
    font-style: var(--title-20px-medium-font-style);
}

.notifications-page .element-bijoy-sarani {
    position: relative;
    width: 175px;
    margin-top: -1.00px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    font-style: var(--title-16px-regular-font-style);
}

.notifications-page .text-wrapper-4 {
    position: relative;
    width: fit-content;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
}

.notifications-page .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: var(--title-16px-regular-font-family);
    font-weight: var(--title-16px-regular-font-weight);
    color: var(--text);
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
}

.notifications-page .group {
    position: absolute;
    width: 191px;
    height: 39px;
    top: 1019px;
    left: 675px;
}

.notifications-page .text-wrapper-6 {
    width: 17px;
    left: 0;
    color: #8e98a8;
    position: absolute;
    top: 0;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3.60px;
    line-height: 39px;
}

.notifications-page .text-wrapper-7 {
    width: 16px;
    left: 26px;
    color: #000000;
    position: absolute;
    top: 0;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3.60px;
    line-height: 39px;
}

.notifications-page .text-wrapper-8 {
    width: 17px;
    left: 51px;
    color: #000000;
    position: absolute;
    top: 0;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3.60px;
    line-height: 39px;
}

.notifications-page .text-wrapper-9 {
    position: absolute;
    width: 5px;
    top: 0;
    left: 76px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 2.70px;
    line-height: 39px;
}

.notifications-page .text-wrapper-10 {
    position: absolute;
    width: 5px;
    top: 0;
    left: 84px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 2.70px;
    line-height: 39px;
}

.notifications-page .text-wrapper-11 {
    position: absolute;
    width: 5px;
    top: 0;
    left: 92px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 2.70px;
    line-height: 39px;
}

.notifications-page .text-wrapper-12 {
    width: 17px;
    left: 107px;
    color: #000000;
    position: absolute;
    top: 0;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 3.60px;
    line-height: 39px;
}

.notifications-page .vector-wrapper {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 2px;
    left: 142px;
    background-color: #000000;
}

.notifications-page .vector {
    position: absolute;
    width: 8px;
    height: 15px;
    top: 10px;
    left: 14px;
}

.notifications-page .bell-wrapper {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 146px;
    left: 500px;
}

.notifications-page .bell {
    position: relative;
    width: 30px;
    height: 30px;
}
