main{
    background-color: white;
}

.item-row {
    display: grid;
    width: 1060px;
    align-items: flex-end;
    row-gap: 450px;
    position: absolute;
    top: 160px;
    left: -180px;
    grid-template-columns: auto auto auto auto;
      
}

.divclass {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.15em;
    line-height: 39px;
    color: #8e98a8;
    display: inline-block;
    width: 17.5px;
}
.div1 {
    position: absolute;
    top: 0px;
    left: 25.57px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 16.2px;
}
.div2 {
    position: absolute;
    top: 0px;
    left: 51.14px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 17.5px;
}
.div3 {
    position: absolute;
    top: 0px;
    left: 76px;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 5.4px;
}
.div4 {
    position: absolute;
    top: 0px;
    left: 84px;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 5.4px;
}
.div5 {
    position: absolute;
    top: 0px;
    left: 92px;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 5.4px;
}
.div6 {
    position: absolute;
    top: 0px;
    left: 107px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 17.5px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 35px;
    height: 35px;
}
.group-item {
    position: absolute;
    height: 40px;
    top: 3%;
    bottom: 30%;
    left: calc(50% - 20px);
    max-height: 100%;
    width: 40px;
    object-fit: contain;
}
.rectangle-parent {
    position: absolute;
    top: 2px;
    left: 142px;
    width: 35px;
    height: 35px;
}
.parent {
    position: absolute;
    top: 1758px;
    left: 792px;
    width: 177px;
    height: 39px;
    text-align: left;
    font-size: 24px;
}
.cutwork-poplin-dress {
    margin-block-start: 0;
    margin-block-end: 15px;
}
.rs995000 {
    margin: 0;
}
.cutwork-poplin-dress-container {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.15em;
    line-height: 10px;
}
.b4-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #b58a62;
}
.b4 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e1c5ca;
    width: 21.4px;
    height: 20px;
}
.b2-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #d5e1f5;
}
.b2 {
    position: absolute;
    top: 0px;
    left: 28.57px;
    background-color: #e1c5ca;
    width: 21.4px;
    height: 20px;
}
.b4-parent {
    position: absolute;
    top: 51px;
    left: 65px;
    width: 50px;
    height: 20px;
}
.cutwork-poplin-dress-rs9950-parent {
    position: absolute;
    top: 673px;
    left: 899px;
    width: 201px;
    height: 71px;
}
.b2-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #161618;
}
.b21 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 21.4px;
    height: 20px;
}
.b4-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #2f3d72;
}
.b41 {
    position: absolute;
    top: 0px;
    left: 28.57px;
    background-color: #f1f3f7;
    width: 21.4px;
    height: 20px;
}
.b2-parent {
    position: absolute;
    top: 51px;
    left: 75px;
    width: 50px;
    height: 20px;
}
.cutwork-poplin-dress-rs9950-group {
    position: absolute;
    top: 673px;
    left: 1137px;
    width: 201px;
    height: 71px;
}
.b3-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #3e567d;
}
.b6-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #a3826b;
}
.b3-parent {
    position: absolute;
    top: 54px;
    left: 75px;
    width: 50px;
    height: 20px;
}
.cutwork-poplin-dress-rs9950-container {
    position: absolute;
    top: 670px;
    left: 641px;
    width: 201px;
    height: 74px;
}
.image-8-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 218px;
    height: 308px;
    object-fit: cover;
    cursor: pointer;
}
.image-16-icon {
    position: absolute;
    top: 1.31px;
    left: 248px;
    width: 218px;
    height: 307.7px;
    object-fit: cover;
}
.image-9-icon {
    position: absolute;
    top: 2.63px;
    left: 496px;
    width: 218px;
    height: 307.7px;
    object-fit: cover;
}
.image-13-icon {
    position: absolute;
    top: 0px;
    left: 744px;
    width: 218px;
    height: 307.7px;
    object-fit: cover;
}
.image-8-parent {
    position: absolute;
    top: 341px;
    left: 384px;
    width: 962px;
    height: 310.3px;
}
.cutwork-poplin-dress-container3 {
    position: absolute;
    top: 0px;
    left: calc(50% - 100.5px);
    letter-spacing: 0.15em;
    line-height: 10px;
}
.b1-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #ab6b26;
}
.b1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 21.4px;
    height: 20px;
}
.b2-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #1b2027;
}
.b22 {
    position: absolute;
    top: 0px;
    left: 28.57px;
    background-color: #1e262e;
    width: 21.4px;
    height: 20px;
}
.group-div {
    position: absolute;
    top: 670px;
    left: calc(50% - 374.5px);
    width: 201px;
    height: 74px;
}
.cutwork-poplin-dress-rs9950-parent1 {
    position: absolute;
    top: 1569px;
    left: 899px;
    width: 201px;
    height: 71px;
}
.cutwork-poplin-dress-rs9950-parent2 {
    position: absolute;
    top: 1569px;
    left: 1137px;
    width: 201px;
    height: 71px;
}
.cutwork-poplin-dress-rs9950-parent3 {
    position: absolute;
    top: 1566px;
    left: 641px;
    width: 201px;
    height: 74px;
}
.image-33-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.fvrt {
    position: absolute;
    height: 3.41%;
    width: 5.78%;
    top: 4.27%;
    right: 84.57%;
    bottom: 92.31%;
    left: 9.65%;
}
.image-16 {
    position: absolute;
    top: 1.31px;
    left: 248px;
    width: 218px;
    height: 307.7px;
}
.image-9 {
    position: absolute;
    top: 2.63px;
    left: 496px;
    width: 218px;
    height: 307.7px;
}
.image-8-group {
    position: absolute;
    top: 1237px;
    left: 384px;
    width: 962px;
    height: 310.3px;
}
.cutwork-poplin-dress-rs9950-parent4 {
    position: absolute;
    top: 1566px;
    left: calc(50% - 374.5px);
    width: 201px;
    height: 74px;
}
.cutwork-poplin-dress-rs9950-parent5 {
    position: absolute;
    top: 1121px;
    left: 899px;
    width: 201px;
    height: 71px;
}
.cutwork-poplin-dress-rs9950-parent6 {
    position: absolute;
    top: 1121px;
    left: 1137px;
    width: 201px;
    height: 71px;
}
.cutwork-poplin-dress-rs9950-parent7 {
    position: absolute;
    top: 1118px;
    left: 641px;
    width: 201px;
    height: 74px;
}
.image-8-container {
    position: absolute;
    top: 789px;
    left: 384px;
    width: 962px;
    height: 310.3px;
}
.cutwork-poplin-dress-rs9950-parent8 {
    position: absolute;
    top: 1118px;
    left: calc(50% - 374.5px);
    width: 201px;
    height: 74px;
}
.cataloguepage-child {
    position: absolute;
    top: 295.5px;
    left: 322.5px;
    border-top: 1px solid #d0d0d0;
    box-sizing: border-box;
    width: 1094px;
    height: 1px;
}
.background-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 6px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.text {
    position: absolute;
    top: 11px;
    left: 10px;
}
.iconcontrolexpand-more {
    position: absolute;
    top: calc(50% - 12px);
    right: 8px;
    width: 24px;
    height: 24px;
}
.genderfilter {
    position: absolute;
    top: 227px;
    left: 374px;
    width: 172px;
    height: 40px;
    text-align: left;
    color: #1c1c1c;
}
.text1 {
    position: absolute;
    top: calc(50% - 10px);
    left: 0px;
    font-weight: 600;
}
.iconcontrolexpand-less {
    position: absolute;
    top: calc(50% - 12px);
    right: 0px;
    width: 24px;
    height: 24px;
}
.layoutcollablse-heading {
    position: absolute;
    top: 0px;
    left: 0px;
    border-top: 1px solid #dee2e7;
    box-sizing: border-box;
    width: 230px;
    height: 48px;
}
.formrange-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 230px;
    height: 20px;
}
.label1 {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    display: inline-block;
}
.label2 {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 75px;
    display: inline-block;
}
.formbaselabel-title {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 24px;
}
.forminput-basic {
    position: absolute;
    width: 100%;
    top: 24px;
    right: 0px;
    left: 0px;
    height: 40px;
    color: #bdc4cd;
    font-family: Inter;
}
.formlabelinput {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 111px;
    height: 64px;
}
.formlabelinput1 {
    position: absolute;
    top: 40px;
    left: 120px;
    width: 110px;
    height: 64px;
}

.buttonbasetext-md {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-shadow: 0px 1px 2px rgba(56, 56, 56, 0.08);
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #dee2e7;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;
    box-sizing: border-box;
    width: 99.13%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 60%;
}
.sliderclass{
    margin-top:30px;
}
.buttonbtn-basic {
    position: absolute;
    width: 99.13%;
    left: -2%;
    top: 60.51%;
    right: 0.87%;
    bottom: 0%;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
}
.formrange-parent {
    position: absolute;
    top: 56px;
    left: 0px;
    width: 230px;
    height: 171px;
    font-size: 16px;
}
.layoutcollablse-heading-parent {
    position: absolute;
    top: 356px;
    left: 77px;
    width: 230px;
    height: 227px;
    text-align: left;
    font-size: 20px;
    color: #1c1c1c;
    font-family: 'Twentieth Century';
}
.underline-icon {
    width: 1535px;
    position: relative;
    max-height: 100%;
    opacity: 0.5;
}
.frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.6;
}
.underline-parent {
    position: absolute;
    top: 374px;
    left: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 1540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    opacity: 0.4;
}
.get-10-off {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-family: Poppins;
    display: none;
}
.frame-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.enter-your-email {
    position: relative;
    line-height: 24px;
    opacity: 0.4;
}
.icon-send {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.send-mail {
    width: 217px;
    border-radius: 4px;
    border: 1.5px solid #fafafa;
    box-sizing: border-box;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px 12px 16px;
    gap: 32px;
    font-size: 16px;
    font-family: Poppins;
}
.frame-group {
    width: 142px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 24px;
    font-family: Inter;
}
.support {
    position: relative;
    line-height: 28px;
    font-weight: 500;
}

.account-parent {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.save-3-with {
    position: relative;
    line-height: 18px;
    font-weight: 500;
    opacity: 0.7;
}
.qr-code-icon {
    width: 80px;
    position: relative;
    height: 80px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.googleplay-icon {
    width: 110px;
    position: relative;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
}
.appstore-icon {
    width: 110px;
    position: relative;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
}
.googleplay-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}
.qr-code-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.save-3-with-app-new-user-only-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    font-size: 12px;
}
.icon-facebook-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.footer {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #111827;
    overflow: hidden;
}
.myfooter {
    position: absolute;
    top: 2669px;
    left: 0px;
    background-color: #f7f7f7;
    width: 1535px;
    height: 340px;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}