.image-8-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 271px;
    height: 400px;
    object-fit: cover;
}
.image-8-wrapper {
    position: absolute;
    top: 210px;
    left: 275px;
    width: 271px;
    height: 400px;
}
.b1-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #ab6b26;
}
.b1 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 21.4px;
    height: 20px;
    border: 0.1px solid gray
}
.b2-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #1b2027;
}
.b2 {
    position: absolute;
    top: 0px;
    left: 28.57px;
    background-color: #1e262e;
    width: 21.4px;
    height: 20px;
}
.b1-parent {
    position: relative;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 20px;
    display: inline-flex;
    gap:10px;
}
.itempage-inner {
    position: absolute;
    top: 437px;
    left: 573px;
    width: 50px;
    height: 20px;
}
.itempage-child {
    position: absolute;
    top: 170.5px;
    left: 262.5px;
    border-top: 1px solid #d0d0d0;
    box-sizing: border-box;
    width: 1001px;
    height: 1px;
}
.itempage-item {
    position: absolute;
    top: 736.5px;
    left: 266.5px;
    border-top: 1px solid #d0d0d0;
    box-sizing: border-box;
    width: 1001px;
    height: 1px;
}
.cutwork-poplin-dress {
    position: absolute;
    top: 217px;
    left: 563px;
    font-size: 32px;
    letter-spacing: 0.15em;
    line-height: 10px;
    font-family: Inter;
}
.size-guide {
    margin-block-start: 0;
    margin-block-end: 15px;
}
.xxl {
    font-weight: 100;
    font-family: Inter;
}
.xl {
    font-weight: 600;
    white-space: pre-wrap;
}
.span {
    font-family: Inter;
    white-space: pre-wrap;
}
.xxl-xl-l-m-s {
    margin: 0;
}
.size-guide-xxl-container {
    position: absolute;
    top: 331px;
    left: 573px;
    font-size: 16px;
    letter-spacing: 0.15em;
    line-height: 10px;
    font-family: Inter;
}
.colors {
    position: absolute;
    top: 407px;
    left: 573px;
    font-size: 16px;
    letter-spacing: 0.15em;
    line-height: 10px;
    font-family: Inter;
}


.star {
    position: relative;
    top: 135px;
    left: 261px;
    width: 22px;
    height: 22px;
}
.star-icon {
    width: 15px;
    position: relative;
    height: 15px;
    object-fit: cover;
}
.reviewsection{
    position: relative;
    left:40px;
    top: 80px;
    margin: 10px;
}
.star-parent {
    position: absolute;
    top: 12px;
    left: 300px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.myreview {
    height: 5.9%;
    width: 39.09%;
    position: absolute;
    border-radius: 20px;
    background-color: #f3f4f6;
    top: 800px;
    left: 300px;
}
.star-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}
.div {
    position: relative;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}
.frame-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.messageicon {
    width: 20px;
    position: relative;
    height: 17.7px;
}
.messageicon-parent {
    width: 146px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.frame-parent {
    position: absolute;
    top: 262px;
    left: 578px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    font-size: 16px;
    color: #807d7e;
    font-family: Actor;
}
.bag-outline-icon {
    width: 15px;
    position: relative;
    height: 15px;
}
.arrowright {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
}
.addtocartbutton {
    position: absolute;
    top: 493px;
    left: 569px;
    background-color: #000;
    width: 233px;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    box-sizing: border-box;
    gap: 12px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: 'Tenor Sans';
}
.priceitem {
    position: absolute;
    top: 493px;
    left: 815px;
    border: 1px solid #3c4242;
    box-sizing: border-box;
    height: 39px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    gap: 12px;
    text-align: center;
    font-size: 14px;
    color: #3c4242;
    font-family: 'Tenor Sans';
}
.in-stock {
    width: 146px;
    position: relative;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    color:white;
}
.availability {
    position: absolute;
    top: 552px;
    left: 569px;
    border-radius: 20px;
    box-sizing: border-box;
    width: 396px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 40px;
    gap: 12px;
    text-align: center;
    font-size: 14px;
    color: #4a544d;
    font-family: Texturina;
}

.reviews1 {
    position: absolute;
    top: 681px;
    left: 289px;
    font-size: 32px;
    font-family: Abel;
}
.div2 {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.15em;
    line-height: 39px;
    color: #8e98a8;
    display: inline-block;
    width: 17.5px;
}
.div3 {
    position: absolute;
    top: 0px;
    left: 25.57px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 16.2px;
}
.div4 {
    position: absolute;
    top: 0px;
    left: 51.14px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 17.5px;
}
.div5 {
    position: absolute;
    top: 0px;
    left: 76px;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 5.4px;
}
.div6 {
    position: absolute;
    top: 0px;
    left: 84px;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 5.4px;
}
.div7 {
    position: absolute;
    top: 0px;
    left: 92px;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 5.4px;
}
.div8 {
    position: absolute;
    top: 0px;
    left: 107px;
    letter-spacing: 0.15em;
    line-height: 39px;
    display: inline-block;
    width: 17.5px;
}
.group-child {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #000;
    width: 35px;
    height: 35px;
}
.group-item {
    position: absolute;
    height: 40%;
    top: 30%;
    bottom: 30%;
    left: calc(50% - 3.5px);
    max-height: 100%;
    width: 7px;
    object-fit: contain;
}
.rectangle-parent {
    position: absolute;
    top: 2px;
    left: 75px;
    width: 35px;
    height: 35px;
}
.parent {
    position: absolute;
    top: 1402px;
    left: 555px;
    width: 177px;
    height: 39px;
    font-size: 24px;
    font-family: Abel;
}
.fvrt-icon {
    position: absolute;
    height: 0.85%;
    width: 1.95%;
    top: 8.84%;
    right: 37.85%;
    bottom: 90.31%;
    left: 60.2%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.itempage-child1 {
    position: relative;
    left: 20px;
    border-radius: 10px;
    background-color: #dadada;
    width: 555px;
    height: 100px;
    color:black;
}
.gabriel-r {
    position: relative;
    left: 100px;
    line-height: 24px;
    bottom: 5px;
}
.generic-user-icon-13-262266219 {
    position: relative;
    bottom: 64px;
    left: 29px;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.publish {
    position: absolute;
    top: 5px;
    left: 11px;
    line-height: 18px;
}
.publishbtn {
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #2e2e2e;
    width: 70px;
    height: 28px;
    overflow: hidden;
    font-size: 11px;
    color: #fff;
    font-family: Raleway;
    left: 650px;
    bottom: 80px;
    cursor:pointer;
}
.publishbtn:active {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.itempage {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 2941px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: ABeeZee;
}

.footer {
    position: absolute;
    height: 65%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #111827;
    overflow: hidden;
}
.myfooter {
    position: absolute;
    top: 2669px;
    left: 0px;
    background-color: #f7f7f7;
    width: 1535px;
    height: 340px;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}