.formpage-child {
    position: absolute;
    top: 221.5px;
    left: 55px;
    max-height: 100%;
    width: 1359px;
}
.icon-send {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.send-mail {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 4px;
    border: 1.5px solid #d0d0d0;
    box-sizing: border-box;
    width: 285px;
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 12px 0px 12px 16px;
    opacity: 0.88;
}
.enter-your-email {
    position: absolute;
    top: 23px;
    left: 76px;
    line-height: 24px;
}
.shape-icon {
    position: absolute;
    top: calc(50% - 19.5px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.avatar {
    position: absolute;
    top: 9px;
    left: 12px;
    border-radius: 9999px;
    width: 56px;
    height: 51px;
    overflow: hidden;
}
.send-mail-parent {
    position: absolute;
    top: 140px;
    left: 55px;
    width: 285px;
    height: 68px;
}
.rectangleform {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    background-color: #f3f4f6;
    width: 1093px;
    height: 676px;
    z-index: -1;
}
.nextbtn-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 10px;
    background-color: #7072ff;
}
.next {
    position: absolute;
    top: 15.52%;
    left: 34.43%;
    letter-spacing: 0.15em;
    line-height: 39px;
    border: none;        /* Remove a borda do botão */
    outline: none;       /* Remove o contorno ao focar */
    background: none;    /* Remove a cor de fundo */
    cursor: pointer;
    color: white;
}
.nextbtn {
    position: absolute;
    top: 566px;
    left: 851px;
    width: 183px;
    height: 58px;
}
.image-36-icon {
    position: absolute;
    top: 308px;
    left: 443px;
    width: 206px;
    height: 102px;
    object-fit: cover;
}
.image-37-icon {
    position: absolute;
    top: 333px;
    left: 751px;
    width: 200px;
    height: 51px;
    object-fit: cover;
}
.image-38-icon {
    position: absolute;
    top: 308px;
    left: 193px;
    width: 121px;
    height: 112px;
    object-fit: cover;
}
.form4-child {
    position: absolute;
    top: 440px;
    left: 241px;
    width: 25px;
    height: 25px;
}
.form4-item {
    position: absolute;
    top: 440px;
    left: 534px;
    width: 25px;
    height: 25px;
}
.form4-inner {
    position: absolute;
    top: 440px;
    left: 839px;
    width: 25px;
    height: 25px;
}
.q1 {
    position: absolute;
    top: 205px;
    left: 160px;
    line-height: 24px;
    font-family: Poppins;
    color: #000;
}
.bg-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 15px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.set-your-location {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 140%;
}
.group {
    position: absolute;
    top: 147px;
    left: 23px;
    width: 0px;
    height: 19px;
}
.item-history {
    position: absolute;
    width: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 48px;
}
.text {
    position: absolute;
    top: 15px;
    left: 41px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    display: flex;
    color: #352555;
    white-space: pre-wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 18px;
}
.icons8-credit-card-64-1 {
    position: absolute;
    top: 11px;
    left: 16px;
    width: 29.2px;
    height: 25px;
    object-fit: cover;
}
.item-history-parent {
    position: absolute;
    width: calc(100% - 774px);
    top: 566px;
    right: 374px;
    left: 400px;
    height: 48px;
    font-size: 13px;
    color: #97adb6;
    font-family: Quicksand;
}
.form4 {
    position: absolute;
    top: 2647px;
    left: 241px;
    width: 1093px;
    height: 674px;
    font-size: 20px;
    color: #fff;
    font-family: Actor;
}
.image-40 {
    position: absolute;
    top: 2904px;
    left: 1318px;
    width: 200px;
    height: 51px;
}
.how-do-you {
    position: absolute;
    top: 53px;
    left: 101px;
    font-size: 20px;
    line-height: 24px;
}
.esportivo {
    position: absolute;
    top: 18.52%;
    left: 1.5%;
    transform: scale(2.5); /* Aumenta o tamanho da checkbox */
}
.outro {
    position: absolute;
    top: 18.52%;
    left: 1.5%;
    transform: scale(1.5); /* Aumenta o tamanho da checkbox */
}
.form-option-child {
    position: absolute;
    height: 64.81%;
    width: 51.08%;
    top: 5px;
    left: 16%;
}
.form-option {
    position: absolute;
    top: 100px;
    left: 101px;
    width: 366px;
    height: 54px;
}
.form1 {
    position: absolute;
    top: 54px;
    left: 79px;
    width: 1093px;
    height: 674px;
}
.linha4 {
    position: absolute;
    top: 369.5px;
    left: 100.5px;
    width: 568px;
}
.q4 {
    position: absolute;
    top: 336px;
    left: 100px;
    line-height: 24px;
    display: inline-block;
    width: 957px;
}
.linha3 {
    position: absolute;
    top: 269.5px;
    left: 100.5px;
    width: 568px;
}
.q3 {
    position: absolute;
    top: 234px;
    left: 100px;
    line-height: 24px;
    display: inline-block;
    width: 957px;
}
.linha1 {
    position: absolute;
    top: 166.5px;
    left: 100.5px;
    width: 568px;
}
.q11 {
    position: absolute;
    top: 136px;
    left: 100px;
    line-height: 24px;
}
.form2 {
    position: absolute;
    top: 829px;
    left: 80px;
    width: 1093px;
    height: 674px;
    font-size: 20px;
}
.what-is-the {
    position: absolute;
    top: 41px;
    left: 101px;
    font-size: 20px;
}
.form3-child {
    position: absolute;
    top: 339.5px;
    left: 99.5px;
    width: 568px;
}
.how-many-outfits {
    position: absolute;
    top: 298px;
    left: 100px;
    font-size: 20px;
    display: inline-block;
    width: 957px;
}
.form-option10 {
    position: absolute;
    top: 77px;
    left: 101px;
    width: 366px;
    height: 54px;
}
.form-option13 {
    position: absolute;
    top: 251px;
    left: 101px;
    width: 366px;
    height: 54px;
}
.what-is-your {
    position: absolute;
    top: 387px;
    left: 100px;
    font-size: 20px;
    line-height: 24px;
    display: inline-block;
    width: 957px;
    height: 83px;
}
.form3-inner {
    position: absolute;
    top: 425.5px;
    left: 100.5px;
    width: 568px;
}
.select-the-brands {
    position: absolute;
    top: 386px;
    left: 101px;
    font-size: 20px;
    line-height: 24px;
}
.zara {
    position: absolute;
    top: 46px;
    left: 35px;
    line-height: 24px;
}
.option1 {
    position: absolute;
    top: 427px;
    left: 100px;
    background-color: #8095fd;
    width: 111px;
    height: 115px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
}
.primark {
    position: absolute;
    top: 46px;
    left: 22px;
    line-height: 24px;
}
.option2 {
    position: absolute;
    top: 427px;
    left: 235px;
    background-color: #8095fd;
    width: 111px;
    height: 115px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
}
.form3 {
    position: absolute;
    top: 1604px;
    left: 79px;
    width: 1093px;
    height: 674px;
}
.fullform {
    position: absolute;
    top: 268px;
    left: 160px;
    width: 1217px;
    height: 2363px;
    overflow: hidden;
    font-size: 15px;
}
.formpage {
    width: calc(100% - 300px);
    position: relative;
    background-color: #fff;
    height: 4160px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
    left: 300px;
    z-index: 1;
}


.primark1 {
    position: absolute;
    top: 46px;
    left: 22px;
    line-height: 24px;
}
.option2selected {
    width: 111px;
    position: relative;
    background-color: #8095fd;
    border: 3px solid #00ff44;
    box-sizing: border-box;
    height: 115px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}


.zara1 {
    position: absolute;
    top: 46px;
    left: 35px;
    line-height: 24px;
}
.option1selected {
    width: 111px;
    position: relative;
    background-color: #8095fd;
    border: 3px solid #00ff44;
    box-sizing: border-box;
    height: 115px;
    overflow: hidden;
    max-width: 90%;
    max-height: 90%;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}


.rectangleform4 {
    position: absolute;
    top: 82px;
    left: 284px;
    border-radius: 20px;
    background-color: #dbdbdb;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 524px;
    height: 331px;
    z-index: -1;
}
.payment-made-successfully {
    margin: 0;
}
.q12 {
    position: absolute;
    top: 145px;
    left: 310px;
    line-height: 30px;
}
.nextbtn-item {
    position: absolute;
    height: 100%;
    width: 120%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: -25px;
    border-radius: 10px;
    background-color: #7072ff;
}
.next1 {
    position: absolute;
    top: 15.52%;
    left: -12px;
    letter-spacing: 0.15em;
    line-height: 39px;
    border: none;        /* Remove a borda do botão */
    outline: none;       /* Remove o contorno ao focar */
    background: none;    /* Remove a cor de fundo */
    cursor: pointer;
    color: white;
    width: 200px;
}
.nextbtn1 {
    position: absolute;
    top: 308px;
    left: 455px;
    width: 183px;
    height: 58px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    font-family: Actor;
}
.form5 {
    width: 1093px;
    position: relative;
    height: 496px;
    overflow-y: auto;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    text-align: center;
    font-size: 24px;
    color: #000;
    font-family: Poppins;
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

