main{
    background-color: white;
}
.image-12-icon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 370px;
    object-fit: cover;
}
.image-11-icon {
    position: absolute;
    top: 0px;
    left: 304px;
    width: 250px;
    height: 370.3px;
    object-fit: cover;
}
.image-10-icon {
    position: absolute;
    top: 0px;
    left: 608px;
    width: 250px;
    height: 370.3px;
    object-fit: cover;
}
.image-9-icon {
    position: absolute;
    top: 0px;
    left: 912px;
    width: 250px;
    height: 370.3px;
    object-fit: cover;
}
.cutwork-poplin-dress {
    margin-block-start: 0;
    margin-block-end: 15px;
}
.p {
    margin: 0;
}
.cutwork-poplin-dress-container {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.15em;
    line-height: 20px;
    display: inline-block;
    width: 247px;
    height: 40px;
    color:#000;
}
.cutwork-poplin-dress-container1 {
    position: absolute;
    left: 915px;
    letter-spacing: 0.15em;
    line-height: 20px;
    display: inline-block;
    width: 241px;
    height: 28px;
    color:#000;
}
.cutwork-poplin-dress-container2 {
    position: absolute;
    top: 4px;
    left: 292px;
    letter-spacing: 0.15em;
    line-height: 10px;
    display: inline-block;
    width: 267px;
    height: 21px;
    color:#000;
}
.cutwork-poplin-dress-container3 {
    position: absolute;
    left: 606px;
    letter-spacing: 0.15em;
    line-height: 20px;
    display: inline-block;
    width: 246px;
    height: 28px;
    color:#000;
}
.cutwork-poplin-dress-1000-parent {
    position: absolute;
    top: 385px;
    left: 2px;
    width: 1156px;
    height: 40px;
}
.b1-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #bc7f5d;
}
.b1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 24.3px;
    height: 22px;
}
.b2-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #917f8e;
}
.b2 {
    position: absolute;
    top: 0px;
    left: 32.34px;
    background-color: #e1c5ca;
    width: 24.3px;
    height: 22px;
}
.b1-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 56.6px;
    height: 22px;
}
.b2-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #161618;
}
.b21 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #fff;
    width: 24.3px;
    height: 22px;
}
.b4-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #0457cd;
}
.b4 {
    position: absolute;
    top: 0px;
    left: 32.34px;
    background-color: #f1f3f7;
    width: 24.3px;
    height: 22px;
}
.b2-parent {
    position: absolute;
    top: 0px;
    left: 304px;
    width: 56.6px;
    height: 22px;
}
.b3-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #1b1a1d;
}
.b3 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #e1c5ca;
    width: 24.3px;
    height: 22px;
}
.b6-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #a3826b;
}
.b3-parent {
    position: absolute;
    top: 0px;
    left: 613px;
    width: 56.6px;
    height: 22px;
}
.b4-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #b58a62;
}
.b2-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #d5e1f5;
}
.b4-parent {
    position: absolute;
    top: 0px;
    left: 912px;
    width: 56.6px;
    height: 22px;
}
.group-parent {
    position: absolute;
    top: 473px;
    left: 97px;
    width: 968.6px;
    height: 22px;
}
.rowhomecatalogue {
    position: relative;
    top: -350px;
    width: 1162px;
    height: 465px;
    text-align: center;
    font-family: Abel;
    display: grid;
    align-items: flex-end;
    grid-template-columns: auto auto auto auto;
    left: -100px;
}
.full-catalogue {
    position: relative;
    top: 17px;
    left: 38px;
    line-height: 24px;
}
.fullcataloguebtn {
    position: relative;
    top: 400px;
    left: 840px;
    border-radius: 40px;
    background-color: #fff;
    border: 1px solid #000;
    box-sizing: border-box;
    width: 300px;
    height: 57px;
    overflow: hidden;
    cursor: pointer;
    font-size: 23px;
    font-family: 'Port Lligat Slab';
    color:#000;
    padding-left: 13px;
}
.how-it-works {
    position: relative;
    top: 56px;
    left: 100px;
    font-size: 30px;
}
.return {
    position: absolute;
    top: 211px;
    left: 1647px;
    text-align: left;
}
.browse {
    position: absolute;
    top: 211px;
    left: 425px;
    text-align: left;
}
.rent {
    position: absolute;
    top: 211px;
    left: 869px;
    text-align: left;
}
.explore-our-vast {
    position: absolute;
    top: 258px;
    left: 299px;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    width: 309px;
}
.return-the-items {
    position: absolute;
    top: 255px;
    left: 1518px;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    width: 309px;
}
.choose-your-favorite {
    position: absolute;
    top: 254px;
    left: 741px;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    width: 309px;
}
.image-icon {
    position: absolute;
    top: 138px;
    left: 425px;
    width: 48.2px;
    height: 50px;
    object-fit: cover;
}
.image-1-icon {
    position: absolute;
    top: 138px;
    left: 869px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.image-26-icon {
    position: absolute;
    top: 138px;
    left: 1647px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.pick-up-at {
    position: absolute;
    top: 255px;
    left: 1103px;
    font-size: 18px;
    font-weight: 200;
    display: inline-block;
    width: 262px;
    height: 86px;
}
.pick-up {
    position: absolute;
    top: 211px;
    left: 1203px;
    display: inline-block;
    text-align: left;
    width: 77px;
    height: 32px;
}
.worksbanner-v2 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #f3f4f6;
    overflow: hidden;
}
.hotel-reception-1-icon {
    object-fit: cover;
    position: absolute;
    top: 138px;
    left: 1209px;
    width: 50px;
    height: 50px;
}
.howitworksbanner {
    position: relative;
    top: 500px;
    left: 0px;
    width: 100%;
    height: 385px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
    color: #000;
}
.underline-icon {
    width: 1535px;
    position: relative;
    max-height: 100%;
    opacity: 0.5;
}
.icon-copyright {
    width: 20px;
    position: relative;
    height: 20px;
    overflow: hidden;
    flex-shrink: 0;
}
.icon-copyright-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
}
.frame-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.6;
}
.underline-parent {
    position: absolute;
    top: 374px;
    left: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    opacity: 0.4;
}
.exclusive {
    position: absolute;
    top: 0%;
    left: 0%;
    letter-spacing: 0.03em;
    line-height: 24px;
}
.logo {
    width: 118px;
    position: relative;
    height: 24px;
}
.subscribe {
    width: 107px;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Azeret Mono';
    text-align: center;
    display: inline-block;
    height: 31px;
    flex-shrink: 0;
    left: -150px;
    top: 50px;
}
.logo-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 24px;
}
.frame-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-container {
    width: 142px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 24px;
    font-family: Inter;
}
.support {
    position: relative;
    line-height: 28px;
    font-weight: 500;
}
.bijoy-sarani-dhaka {
    width: 175px;
    position: relative;
    line-height: 24px;
    display: inline-block;
}
.exclusivegmailcom {
    position: relative;
    line-height: 24px;
}
.bijoy-sarani-dhaka-dh-1515-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    font-size: 16px;
}
.frame-parent {
    position: absolute;
    top: 80px;
    left: 135px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 87px;
    font-size: 20px;
    color: #fafafa;
}
.footer {
    position: absolute;
    height: 65%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #111827;
    overflow: hidden;
}
.myfooter {
    position: absolute;
    top: 2669px;
    left: 0px;
    background-color: #f7f7f7;
    width: 1535px;
    height: 340px;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}
.imagem-1-icon {
    position: absolute;
    top: 147px;
    left: 542px;
    width: 50px;
    height: 48.5px;
    object-fit: cover;
}
.imagem-3-icon {
    position: absolute;
    top: 140px;
    left: 1039px;
    width: 50px;
    height: 58.8px;
    object-fit: cover;
}
.imagem-2-icon {
    position: absolute;
    top: 147px;
    left: 1529px;
    width: 50px;
    height: 44.5px;
    object-fit: cover;
}
.sustainable-fashion {
    position: absolute;
    top: 40px;
    left: 929px;
    font-size: 30px;
}
.circular-economy {
    position: absolute;
    top: 212px;
    left: 1466px;
    font-size: 22px;
}
.eco-friendly {
    position: absolute;
    top: 215px;
    left: 500px;
    font-size: 20px;
}
.water-conservation {
    position: absolute;
    top: 215px;
    left: 969px;
    font-size: 20px;
}
.reduce-clothing-waste {
    position: absolute;
    top: 265px;
    left: 391px;
    font-weight: 200;
    text-align: center;
    display: inline-block;
    width: 309px;
}
.participate-in-a {
    position: absolute;
    top: 265px;
    left: 1407px;
    font-weight: 200;
    text-align: center;
    display: inline-block;
    width: 309px;
}
.help-save-water {
    position: absolute;
    top: 265px;
    left: 913px;
    font-weight: 200;
    text-align: center;
    display: inline-block;
    width: 309px;
}
.sustainablebanner {
    position: relative;
    top: 980px;
    left: 0px;
    background-color: #f0fdf4;
    width: 100%;
    height: 385px;
    overflow: hidden;
    margin: 0 auto; 
    color: #000;
}
.icon {
    position: absolute;
    top: 64px;
    left: 654px;
    width: 312px;
    height: 327px;
    object-fit: cover;
}

.itemclass{
    padding:20px;
}
.clothing-rental-for-container {
    position: absolute;
    top: 340px;
    left: 735px;
    width: 520px;
    line-height: 50px;
    color:#4d4d4d;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.explore-collection {
    position: relative;
    top: 20px;
    left:900px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    background-color: #fff;
    width: 200px;
    height: 40px;
    cursor: pointer;
    text-align: left;
    font-size: 12px;
    font-family: 'Alegreya Sans SC';
    border: 0;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    cursor: pointer;
    z-index: 1;
}

.icon1 {
    position: absolute;
    top: -10px;
    left: 940px;
    width: 442px;
    height: 460px;
    object-fit: cover;
    margin: 0 auto; 
}

.homeimage {
    position:relative;
    left: -3px;
    background-color: #eaeaea;
    width: 100%;
    height: 650px;
    overflow: hidden;
    text-align: center;
    font-size: 32px;
    font-family: 'Alegreya Sans';
    top:120px; 
}
.hire-a-stylist {
    position: absolute;
    top: 47px;
    left: 976px;
}
.send-a-form {
    position: absolute;
    top: 17px;
    left: 78px;
    font-size: 30px;
}
.b {
    position: absolute;
    top: 53px;
    left: 198px;
    font-size: 36px;
}
.stylists-recommendations {
    position: absolute;
    top: 127px;
    left: 156px;
}
.imagem-4-icon {
    position: absolute;
    top: 127px;
    left: 106px;
    width: 34px;
    height: 34px;
    object-fit: cover;
}
.discount-on-orders {
    position: absolute;
    top: 189px;
    left: 156px;
}
.imagem-5-icon {
    position: absolute;
    top: 183px;
    left: 101px;
    width: 44px;
    height: 34px;
    object-fit: cover;
}
.fill-the-form {
    position: absolute;
    top: 14px;
    left: 58px;
    color: white;
}
.fill-the-form-wrapper {
    position: absolute;
    top: 251px;
    left: 96px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #000;
    width: 250px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    color: #fff;
}
.send-a-form-for-just-parent {
    position: absolute;
    top: 125px;
    left: 836px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: #fff;
    width: 443px;
    height: 342px;
    overflow: hidden;
    font-size: 18px;
}
.membershipplan {
    position: absolute;
    top: 2000px;
    left: 0px;
    background-color: #f9fafb;
    width: 100%;
    height: 544px;
    overflow: hidden;
    font-size: 30px;
    margin: 0 auto;
    color: #000;
}

.home-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 48px;
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
}
.logo-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 160px;
}
.what-are-you {
    position: relative;
    line-height: 18px;
    opacity: 0.5;
}
.component-2-icon {
    width: 24px;
    position: relative;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
}
.what-are-you-looking-for-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 34px;
}
.search-component-set {
    border-radius: 4px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px 12px 7px 20px;
}
.vector-icon {
    position: absolute;
    height: 56.25%;
    width: 62.5%;
    top: 21.88%;
    right: 18.75%;
    bottom: 21.88%;
    left: 18.75%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-child {
    position: absolute;
    height: 94.12%;
    width: 100%;
    top: 5.88%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    background-color: #db4444;
}
.div1 {
    position: absolute;
    height: 100%;
    width: 43.75%;
    top: 0%;
    left: 25%;
    line-height: 18px;
    display: inline-block;
}
.ellipse-parent {
    position: absolute;
    height: 53.13%;
    width: 50%;
    top: 0%;
    right: 0%;
    bottom: 46.88%;
    left: 50%;
}
.wishlist {
    width: 32px;
    position: relative;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
}

.div2 {
    position: absolute;
    height: 100%;
    width: 43.75%;
    top: 0%;
    left: 31.25%;
    line-height: 18px;
    display: inline-block;
}

