.image-18-icon {
    position: absolute;
    height: 100%;
    width: 30.52%;
    top: 0%;
    right: 58.48%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
}
.cutwork-poplin-dress {
    position: absolute;
    top: 0px;
    left: 227px;
    font-size: 18px;
    line-height: 24px;
}
.preo-45 {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    white-space: pre-wrap;
    display: inline-block;
    height: 23px;
    flex-shrink: 0;
}
.tamanho-m {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    display: inline-block;
    height: 24px;
    flex-shrink: 0;
}
.cdigo-do-artigo {
    align-self: stretch;
    position: relative;
    line-height: 24px;
    display: inline-block;
    height: 23px;
    flex-shrink: 0;
}
.preo-45-parent {
    position: absolute;
    top: 24px;
    left: 227px;
    width: 213px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    color: #757575;
}
.escrever-um-comentrio {
    position: absolute;
    top: 186px;
    left: 227px;
    text-decoration: underline;
    line-height: 24px;
    font-weight: 600;
    cursor: pointer; 
}
.escrever-um-comentrio:hover {
    color: #0056b3; 
  }
  
.produto {
    width: 100%;
    position: relative;
    height: 210px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Poppins;
}