.encomendas {
    position: absolute;
    top: 150px;
    left: 87px;
    font-size: 32px;
    font-family: Abel;
}
.encomendapage-child {
    position: absolute;
    top: 217px;
    left: 56px;
    max-height: 100%;
    width: 1389px;
}
.order-component-view {
    position: relative;
    top: 220px;
    left: 56px;
    max-height: 100%;
    width: 1389px;
  }

.item{
    position: relative;
    top: 220px;
    left: 56px;
    max-height: 100%;
    width: 100px; 
}

.cutwork-poplin-dress{
    position: relative;
    top: 220px;
}

