.payments {
    position: absolute;
    top: 143px;
    left: 99px;
}
.paymentspage-child {
    position: absolute;
    top: 194px;
    left: 68px;
    max-height: 100%;
    width: 1389px;
}

.payment-container{
    position: relative;
    overflow: hidden;
    height: auto;
    margin-top: 240px;
}
.group-item1 {
    position: absolute;
    height: 35px;
    top: 4%;
    bottom: 30%;
    left: calc(50% - 140px);
    max-height: 100%;
    width: 35px;
    object-fit: contain;
}

.group-item2 {
    position: absolute;
    height: 40px;
    top: 3%;
    bottom: 30%;
    left: calc(50% - 0px);
    max-height: 100%;
    width: 40px;
    object-fit: contain;
}
.rectangle-parent {
    position: absolute;
    top: 2px;
    left: 25px;
    width: 35px;
    height: 35px;
}
.parent {
    position: absolute;
    top: 1288px;
    left: 792px;
    width: 177px;
    height: 39px;
    text-align: left;
    font-size: 24px;
}

.paymentspage {
    width: 100%;
    position: relative;
    background-color: #fff;
    margin-top:30px;
    height: 2941px;
    overflow: hidden;
    text-align: left;
    font-size: 32px;
    color: #000;
    font-family: Abel;
}

.footer {
    position: absolute;
    height: 65%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #111827;
    overflow: hidden;
}
.myfooter {
    position: absolute;
    top: 2669px;
    left: 0px;
    background-color: #f7f7f7;
    width: 1535px;
    height: 340px;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}