.stylist-request {
    position: relative;
    width: 1118px;
    height: 366px;
    margin-bottom: 30px;
}

.stylist-request .text-wrapper {
    position: absolute;
    width: 89px;
    top: -1px;
    left: 11px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 18px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}
.item{
    display: flex;
}
.remove-button {
    background: transparent;
    border: none;
    color: #e74c3c;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top:-5px;
    transition: transform 0.2s ease;
    margin-left: -369px;
}

.remove-button:hover {
    transform: scale(1.2);
}
.stylist-request .div {
    position: absolute;
    width: 270px;
    top: -1px;
    left: 584px;
    font-family: "Abel-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.stylist-request .request-details {
    position: absolute;
    width: 549px;
    height: 267px;
    top: 34px;
    left: 0;
}

.stylist-request .overlap-group {
    position: relative;
    width: 548px;
    height: 325px;
    background-color: #f3f4f6;
    border-radius: 20px;
}

.stylist-request .text-wrapper-2 {
    position: absolute;
    top: 13px;
    left: 28px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.stylist-request .text-wrapper-3 {
    position: absolute;
    top: 53px;
    left: 28px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.stylist-request .text-wrapper-4 {
    position: absolute;
    top: 93px;
    left: 28px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.stylist-request .text-wrapper-5 {
    position: absolute;
    top: 133px;
    left: 28px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.stylist-request .text-wrapper-6 {
    position: absolute;
    top: 173px;
    left: 28px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.stylist-request .p {
    position: absolute;
    top: 213px;
    left: 28px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.stylist-request .text-wrapper-7 {
    position: absolute;
    top: 253px;
    left: 28px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.stylist-request .recommendation {
    position: absolute;
    width: 549px;
    height: 267px;
    top: 34px;
    left: 569px;
    margin-bottom: 30px;
}

.stylist-request .overlap-group-2 {
    position: absolute;
    width: 147px;
    height: 58px;
    top: 13px;
    left: 28px;
}

.stylist-request .text-wrapper-8 {
    position: absolute;
    top: 18px;
    left: 21px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}
.stylist-request .text-wrapper-9 {
    position: absolute;
    top: 0;
    font-size: 20px;
    left: 0;
    font-family: var(--title-16px-regular-font-family);
    font-weight:bold;
    color: #000000;
    font-size: var(--title-16px-regular-font-size);
    letter-spacing: var(--title-16px-regular-letter-spacing);
    line-height: var(--title-16px-regular-line-height);
    white-space: nowrap;
    font-style: var(--title-16px-regular-font-style);
}

.stylist-request .text-wrapper-10 {
    position: absolute;
    top: 34px;
    left: 21px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
}

.stylist-request .frame {
    display: flex;
    flex-direction: column;
    width: 241px;
    align-items: flex-start;
    gap: 8px;
    position: absolute;
    top: 14px;
    left: 286px;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block;cursor: pointer; }

.stylist-request .text-wrapper-11 {
    position: relative;
    width: fit-content;
    margin-left: 280.00px;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    color: #000000;
    font-weight: bold;
  }

.stylist-request .frame-2 {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 201px;
    background-color: #ffffff;
    border-radius: 4px;
    margin-left: 200px;
  
}

.stylist-request .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    width: 241px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 48px;
    position: absolute;
    top: 272px;
    left: 286px;
    border-radius: 4px;
    border: 1px solid;
    border-color: #00000080;
}

.stylist-request .text-wrapper-12 {
    position: relative;
    width: fit-content;
    margin-top: 280px;
    margin-bottom: -9.00px;
    margin-left: 280.50px;
    margin-right: -42.50px;
    font-size: 16px;
    color: black;
    white-space: nowrap;
}

.stylist-request .expand {
    position: relative;
    width: fit-content;
    margin-top: 265px;
    margin-left: 20.50px;
    margin-right: -42.50px;
    font-size: 14px;
    color: black;
    white-space: nowrap;
}
