.homeimage {
    position:relative;
    left: -3px;
    background-color: #eaeaea;
    width: 100%;
    height: 650px;
    overflow: visible;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    top:120px; 
    font-weight: bold;    
}
.icon {
    position: absolute;
    top: 171px;
    left: 1048px;
    width: 442px;
    height: 460px;
    object-fit: cover;
}
.icon1 {
    position: absolute;
    top: 171px;
    left: 835px;
    width: 312px;
    height: 327px;
    object-fit: cover;
}
.we-help-you {
    position: absolute;
    top: 171px;
    left: 211px;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 500px;
}
.trending-items {
    position: absolute;
    top: 850px;
    left: 450px;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 478px;

    font-size: x-large;
}
.inventory {
    position: absolute;
    top: 36px;
    left: 40px;
}
.inventorybtn {
    position: absolute;
    top: 504px;
    left: 211px;
    border-radius: 15px;
    background-color: #737171;
    width: 159px;
    height: 49px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    cursor:pointer;
}

.inventorybtn2 {
    position: absolute;
    top: 580px;
    left: 211px;
    border-radius: 15px;
    background-color: #737171;
    width: 159px;
    height: 49px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    cursor:pointer;
}

.inventorybtn3 {
    position: absolute;
    top: 580px;
    left: 392px;
    border-radius: 15px;
    background-color: #737171;
    width: 159px;
    height: 49px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    cursor:pointer;
}

.inventorybtn3:hover, .inventorybtn2:hover, .inventorybtn:hover {
    background-color: #000000;
}

.inventorybtn4 {
    position: absolute;
    top: 580px;
    left: 573px;
    border-radius: 15px;
    background-color: #737171;
    width: 159px;
    height: 49px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    cursor:pointer;
}

.inventorybtn4:hover, .inventorybtn2:hover, .inventorybtn:hover {
    background-color: #000000;
}


.manage-items {
    position: absolute;
    top: 36px;
    left: 49px;
}
.rowhomecatalogue {
    position: relative;
    margin-top: 50px;
    width: 70%;
    text-align: center;
    font-family: Abel;
    display: grid;
    align-items: flex-end;
    grid-template-columns: auto auto auto auto;
    left: -250px;
}

.div.rowhomecatalogue {
    position: absolute;
}

.itemclass{
    padding:20px;
}
.inventorybtn1 {
    position: absolute;
    top: 504px;
    left: 392px;
    border-radius: 15px;
    background-color: #737171;
    width: 217px;
    height: 49px;
    overflow: hidden;
    font-size: 16px;
    color: #fff;
    cursor:pointer;
}
.inventorybtn1:hover {
    background-color: #000;
}

.shophomepage {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 2941px;
    overflow: hidden;
    text-align: left;
    font-size: 56px;
    color: #000;
    font-family: Poppins;
    font-weight: bold;    
}

.footer {
    position: absolute;
    height: 65%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #111827;
    overflow: hidden;
}
.myfooter {
    position: absolute;
    top: 2669px;
    left: 0px;
    background-color: #f7f7f7;
    width: 1535px;
    height: 340px;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}