.logo-sideways-icon {
    position: absolute;
    top: 84px;
    left: 105px;
    width: 476px;
    height: 479px;
    object-fit: cover;
}
.name {
    position: absolute;
    top: 14.71%;
    left: 1.63%;
    line-height: 24px;
    font-weight: 100;
}
.forms-sign-up {
    position: absolute;
    top: 96px;
    left: 630px;
    padding-left: 10px;
    border-radius: 20px;
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
    width: 552px;
    height: 34px;
    opacity: 80%;
}
.forms-sign-up1 {
    position: absolute;
    top: 151px;
    padding-left: 10px;
    left: 630px;
    border-radius: 20px;
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
    width: 552px;
    height: 34px;
    opacity: 80%;
}
.forms-sign-up2 {
    position: absolute;
    top: 206px;
    padding-left: 10px;
    left: 630px;
    border-radius: 20px;
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
    width: 552px;
    height: 34px;
    opacity: 80%;
}
.forms-sign-up3 {
    position: absolute;
    top: 257px;
    padding-left: 10px;
    left: 630px;
    border-radius: 20px;
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
    width: 552px;
    height: 34px;
    opacity: 80%;
}

.forms-sign-up4 {
    position: absolute;
    top: 308px;
    padding-left: 10px;
    left: 630px;
    border-radius: 20px;
    border: 1px solid #b2b2b2;
    box-sizing: border-box;
    width: 552px;
    height: 34px;
    opacity: 80%;
}

.phone-number {
    position: absolute;
    top: 308px;
    left: 636px;
    padding-left: 10px;
    line-height: 24px;
    font-weight: 100;
    font-family: "Times New Roman", Times, serif;
}
.your-number {
    position: absolute;
    padding-left: 10px;
    top: 7px;
    left: 112px;
    line-height: 24px;
    font-weight: 100;
}
.your-number-wrapper {
    position: relative;
    top: 325px;
    left: 930px;
    font-size: 10px;
    width: 222px;
}
.country-code {
    position: absolute;
    top: 7px;
    left: 39px;
    line-height: 24px;
    font-weight: 100;
}
.country-code-wrapper {
    position: absolute;
    top: 343px;
    left: 630px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #cecece;
    box-sizing: border-box;
    width: 144px;
    height: 38px;
    overflow: hidden;
    font-size: 10px;
}
.vector-icon {
    position: absolute;
    top: 510px;
    left: 638px;
    width: 144px;
    height: 41px;
    cursor: pointer;
}
.alreadyAccount{
    margin-top: 490px;
    margin-left: 630px;
    font-size: 15px;
    color: black;
}
.alreadyAccount2{
    margin-top: 538px;
    margin-left: 630px;
    font-size: 15px;
    color: black;
}
.background-icon {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 6px;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.text {
    position: absolute;
    top: 11px;
    left: 10px;
}
.iconcontrolexpand-more {
    position: absolute;
    top: calc(50% - 12px);
    right: 8px;
    width: 24px;
    height: 24px;
}
.genderfilter {
    position: absolute;
    top: 368px;
    left: 630px;
    width: 172px;
    height: 40px;
    color: #1c1c1c;
    font-family: Abel;
}
.background-card {
    width: 80%;
    position: relative;
    border-radius: 30px;
    background-color: #f7f7f7;
    height: 1000px;
    top:160px;
    left:260px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    color: #000;
}

.countryclass{
    margin-left:640px;
    margin-top:300px;
}
.tabs {
    display: flex;
    background-color: #f7f7f7;
}
.countrySelect{
    background-color: white;
    color:black;
    border:0;
    border-radius: 10px;
    height:40px;
    width:120px;
}
.tab-button {
    flex: 1;
    padding: 15px;
    cursor: pointer;
    background-color: #ccd3da;
    color: #ffffff;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.tab-button.active, .tab-button:hover {
    background-color: #78797a;
}


.footer {
    position: absolute;
    height: 65%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: #111827;
    overflow: hidden;
}
.myfooter {
    position: absolute;
    top: 2669px;
    left: 0px;
    background-color: #f7f7f7;
    width: 1535px;
    height: 340px;
    font-size: 16px;
    color: #fff;
    font-family: Poppins;
}